<h1>支出</h1>
<div class='name'>品項:          </div> <input type="text" id="firstname"/><br />
<br>
<div class='name'>時間:          </div> <input type="text" id="lastname"/><br />
<br>
<div class='name'>支出金額:   </div> <input type="text" id="age"/><br />
<br>
<div class='name'>簡易描述:   </div> <input type="text" id="occupation"/><br />
<br>
<br>

<button class="btn-post">建立支出項目</button>
