

<div>
  <h1><%= userinfo['firstname'] %></h1>
</div>
<div>
  <span class='name'>時間:  </span>
  <span><%= userinfo['lastname'] %></span>
</div>
<br>
<div>
  <span class='name'>支出金額:  </span>
  <span><%= userinfo['age'] %></span>
    <span>元</span>
</div>
<br>
<div>
  <span class='name'>簡易描述:    </span>
  <br>
  <br>
  <span><%= userinfo['occupation'] %></span>
</div>
